/* color palette from figma */
:root {
    --purple: #8843e4;
    --black: #252525;
    --darkPink: #ff4779;
    --lightPink: #ffe1e8;
    --white: #ffffff;
}
body {
margin: 0px;
padding: 0px;
overflow-y: hidden
}
